.accordition {
  padding: 20px 40px;
  margin: 15px;
  border: 1px solid rgb(176, 175, 175);
  border-radius: 4px;
}

.accordition .active {
  background-color: lightblue;
}
.accordition .accordition-item {
  cursor: pointer;
  border: 1px solid rgb(176, 175, 175);
  border-radius: 4px;
}

.accordition .accordition-title {
  padding: 10px 40px;
  font-size: 24px;
  font-weight: 500;
}
.accordition .accordition-content {
  font-size: 16px;
  padding: 10px 20px;
}
.accordition .d-none {
  display: none;
}
